body {
  margin: 0;
  font-family: 'poppins', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #E0E0E0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}